[[extend "baseof.html"]]

[[ block page_head]]
[[ end ]]

[[ block left_nav ]]
[[ include 'partials/nav-test.html' ]]
[[ end]]

[[ include 'partials/patient-bar.html' ]]

<div class="container-fluid">

</div>

[[ block js_scripts]]
<!-- <script src="js/bootstrap-table/bootstrap-table.min.js"></script> -->
<!-- <script src="js/bootstrap-table/bootstrap-table.js"></script> -->
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
<script src="js/bootbox/bootbox.all.min.js"></script>
<script src="js/jquery.serialize-object.min.js"></script>
<script src="js/useful.js"></script>
<script src="js/autorx_bt.js"></script>
<script type="text/javascript">

const HOSTURL = 'http://localhost:8000';
const wlId = [[= wlId ]];

// timeOffset 'Europe/Brussels' GMT+2:00
const timeOffsetInHours = 2;
const timeOffset = 3600*timeOffsetInHours; // in sec

// init tables
const API_RXRIGHT = HOSTURL + "/myapp/api/tono?laterality.eq=right&techno.eq=air&@lookup=mod!:modified_by[id,first_name,last_name],creator!:created_by[id,first_name,last_name]&@count=true&id_worklist.eq="+wlId;
const API_RXLEFT = HOSTURL + "/myapp/api/tono?laterality.eq=left&techno.eq=air&@lookup=mod!:modified_by[id,first_name,last_name],creator!:created_by[id,first_name,last_name]&@count=true&id_worklist.eq="+wlId;
const API_KMRIGHT = HOSTURL + "/myapp/api/tono?laterality.eq=right&techno.eq=apla&@lookup=mod!:modified_by[id,first_name,last_name],creator!:created_by[id,first_name,last_name]&@count=true&id_worklist.eq="+wlId;
const API_KMLEFT = HOSTURL + "/myapp/api/tono?laterality.eq=left&techno.eq=apla&@lookup=mod!:modified_by[id,first_name,last_name],creator!:created_by[id,first_name,last_name]&@count=true&id_worklist.eq="+wlId;


// Fires after the table body is rendered and available in the DOM, the parameters contain data
$('#airPachyRight_tbl').on('post-body.bs.table', function () {
    $('.loading-wrap').addClass('visually-hidden'); // loading bug?
});

</script>
<script src="js/autorx.js"></script>
[[ end ]]