[[extend "baseof.html"]]

[[ block page_head]]
[[ end ]]

[[ block left_nav ]]
[[ include 'partials/nav-test.html' ]]
[[ end]]
[[ include 'partials/patient-bar.html' ]]


hello2 = [[ = string]]

<div class="container">
    <canvas id="itf"></canvas>
    <svg class="barcode"
        jsbarcode-format="itf"
        jsbarcode-value="123456789012"
        jsbarcode-textmargin="0"
        jsbarcode-fontoptions="bold">
    </svg>
</div>

<button type="button" onclick="pdfMake.createPdf(prescription).download('test.pdf')" class="btn btn-primary">Generate PDF</button>
<button type="button" onclick="pdfMake.createPdf(dd2).download('test.pdf')" class="btn btn-primary">Generate PDF 2</button>

[[ block js_scripts]]
<script type="text/javascript">
// Global variables
const HOSTURL = 'http://localhost:8000';
const wlId = [[= wlId ]];
const userId = [[ = userId ]]
</script>

<script src="js/useful.js"></script>
<script src="js/patient-bar.js"></script>
<script src="js/pdfmake/pdfmake.min.js"></script>
<script src="js/pdfmake/vfs_fonts.js"></script>
<script src="js/jsbarcode/JsBarcode.itf.min.js"></script>

<script type="text/javascript">




var fonts = {
	Roboto: {
		normal: 'fonts/Roboto-Regular.ttf',
		bold: 'fonts/Roboto-Medium.ttf',
		italics: 'fonts/Roboto-Italic.ttf',
		bolditalics: 'fonts/Roboto-MediumItalic.ttf'
	}
};


</script>



[[end]]