[[extend "baseof.html"]]

[[ block page_head]]


[[ end ]]

[[ block left_nav ]]
[[ include 'partials/nav-test.html' ]]
[[ end]]
[[ include 'partials/patient-bar.html' ]]


hello2 = [[ = string]]


[[ block js_scripts]]
<script type="text/javascript">
// Global variables
// const HOSTURL = 'http://localhost:8000';
const HOSTURL = "[[ =hosturl ]]";
const wlId = [[= wlId ]];
const userId = [[ = userId ]];
const btnArr = [];



</script>

<script src="js/useful.js"></script>
<script src="js/patient-bar.js"></script>

<script type="text/javascript">


</script>



[[end]]