[[extend "baseof.html"]]

[[ block page_head]]
[[ end ]]

[[ block left_nav ]]
[[ include 'partials/nav-test.html' ]]
[[ end]]

[[ include 'partials/patient-bar.html' ]]

<div class="container-fluid mb-3">
    <div class="row text-center big-title">
        <div class="col">
            <h1><a role="button" data-bs-toggle="collapse" href=".md">Medical examination</a></h1>
        </div>
    </div>
</div>

<div class="container-fluid mb-3">
    <div class="row mb-3 text-center big-title">
        <div class="col">
            <h2><a role="button" data-bs-toggle="collapse" href=".history">Past history</a></h2>
        </div>
    </div>
    <div class="row text-center history">
        <div class="col">
            <h3 class="big-title"><a role="button" data-bs-toggle="collapse" href=".gHx">General history</a></h3>
            <div class="row gHx">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h4>Medications</h4>
                        </div>
                        <div class="col">
                            <h4>Prescriptions</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row mb-3">
                                <div class="col">
                                    <h4 class="big-title">Medications</h4>
                                </div>
                            </div>
                            <div class="row mt-3"> <!-- table right -->
                                <div class="col">
                                    <table
                                        id="mx_tbl"
                                        data-side-pagination="server"
                                        data-pagination="true"
                                        data-page-size="5"
                                        data-search="false"
                                        data-query-params="queryParams"
                                        data-response-handler="responseHandler_mx"
                                        data-detail-formatter="detailFormatter_mx"
                                        data-detail-view="true" data-detail-view-icon="true"
                                        >
                                        <thead>
                                            <tr>
                                                <th data-field="onset" data-sortable="false">Onset</th>
                                                <th data-field="ended" data-sortable="false">Ended</th>
                                                <th data-field="medication" data-sortable="false">Medication</th>
                                                <th data-field="brand" data-sortable="false">Brand</th>
                                                <th data-field="frequency" data-sortable="false">Frequency</th>
                                                <th data-field="operate" data-formatter="operateFormatter_mx" data-events="operateEvents_mx">Action
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias est qui maxime beatae placeat molestiae provident facere, voluptates repellendus eveniet reprehenderit recusandae esse ea perferendis aut reiciendis obcaecati voluptatibus asperiores.</p>
                        </div>
                    </div>
                </div>
            </div> <!-- end div row medical surgical-->
            <div class="row gHx">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h4>Medical</h4>
                        </div>
                        <div class="col">
                            <h4>Surgical</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quasi dolore, minus quod, expedita velit mollitia quibusdam quae iusto est commodi corrupti sed unde officia deleniti iste tempora ad rem.</p>
                        </div>
                        <div class="col">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias est qui maxime beatae placeat molestiae provident facere, voluptates repellendus eveniet reprehenderit recusandae esse ea perferendis aut reiciendis obcaecati voluptatibus asperiores.</p>
                        </div>
                    </div>
                </div>
            </div> <!-- end div row medical surgical-->
        </div>
    </div>
    <div class="row text-center history">
        <h3 class="big-title"><a role="button" data-bs-toggle="collapse" href=".oHx">Ocular history</a></h3>
        <div class="col oHx">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col title-right">
                            <h3>Right eye</h3>
                        </div>
                        <div class="col title-left">
                            <h3>Left eye</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col bg-right">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque rem recusandae culpa sit officiis, non error, veniam laudantium provident minus facere ipsam nobis quas dicta aperiam odit, doloribus quae eos.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque rem recusandae culpa sit officiis, non error, veniam laudantium provident minus facere ipsam nobis quas dicta aperiam odit, doloribus quae eos.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque rem recusandae culpa sit officiis, non error, veniam laudantium provident minus facere ipsam nobis quas dicta aperiam odit, doloribus quae eos.</p>
                        </div>
                        <div class="col bg-left">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque rem recusandae culpa sit officiis, non error, veniam laudantium provident minus facere ipsam nobis quas dicta aperiam odit, doloribus quae eos.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque rem recusandae culpa sit officiis, non error, veniam laudantium provident minus facere ipsam nobis quas dicta aperiam odit, doloribus quae eos.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque rem recusandae culpa sit officiis, non error, veniam laudantium provident minus facere ipsam nobis quas dicta aperiam odit, doloribus quae eos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mb-3">
    <div class="row text-center big-title">
        <div class="col">
            <h2><a role="button" data-bs-toggle="collapse" href=".pHx">Present History</a></h2>
        </div>
    </div>
    <div class="row pHx">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque rem recusandae culpa sit officiis, non error, veniam laudantium provident minus facere ipsam nobis quas dicta aperiam odit, doloribus quae eos.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque rem recusandae culpa sit officiis, non error, veniam laudantium provident minus facere ipsam nobis quas dicta aperiam odit, doloribus quae eos.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque rem recusandae culpa sit officiis, non error, veniam laudantium provident minus facere ipsam nobis quas dicta aperiam odit, doloribus quae eos.</p>
    </div>
</div>

<div class="container-fluid mb-3">
    <div class="row mb-3 text-center big-title">
        <div class="col">
            <h2><a role="button" data-bs-toggle="collapse" href=".clinical">Clinical exam</a></h2>
        </div>
    </div>
    <div class="row mb-3 clinical">
        <div class="col">
            <div class="row text-center">
                <div class="col">
                    <h3 class="title-right">Right eye</h3>
                </div>
                <div class="col">
                    <h3 class="title-left">Left eye</h3>
                </div>
            </div>
            <div class="row">
                <div class="col bg-right">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deleniti dolor vitae libero a doloremque nobis quo quidem incidunt non suscipit molestiae odit velit obcaecati pariatur, porro explicabo laborum? Impedit!</p>
                </div>
                <div class="col bg-left">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deleniti dolor vitae libero a doloremque nobis quo quidem incidunt non suscipit molestiae odit velit obcaecati pariatur, porro explicabo laborum? Impedit!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3 clinical">
        <div class="col">
            <div class="row text-center">
                <div class="col">
                    <h3 class="title-right">Miscellaneous</h3>
                </div>
            </div>
            <div class="row">
                <div class="col bg-right">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deleniti dolor vitae libero a doloremque nobis quo quidem incidunt non suscipit molestiae odit velit obcaecati pariatur, porro explicabo laborum? Impedit!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mb-3">
    <div class="row mb-3 text-center big-title">
        <div class="col">
            <h2><a role="button" data-bs-toggle="collapse" href=".dx">Conclusions</a></h2>
        </div>
    </div>
    <div class="row mb-3 dx">
        <div class="col">
            <div class="row text-center">
                <div class="col">
                    <h3 class="title-right">Right eye</h3>
                </div>
                <div class="col">
                    <h3 class="title-left">Left eye</h3>
                </div>
            </div>
            <div class="row">
                <div class="col bg-right">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deleniti dolor vitae libero a doloremque nobis quo quidem incidunt non suscipit molestiae odit velit obcaecati pariatur, porro explicabo laborum? Impedit!</p>
                </div>
                <div class="col bg-left">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deleniti dolor vitae libero a doloremque nobis quo quidem incidunt non suscipit molestiae odit velit obcaecati pariatur, porro explicabo laborum? Impedit!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3 dx">
        <div class="col">
            <div class="row text-center">
                <div class="col">
                    <h3 class="title-right">Miscellaneous</h3>
                </div>
            </div>
            <div class="row">
                <div class="col bg-right">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deleniti dolor vitae libero a doloremque nobis quo quidem incidunt non suscipit molestiae odit velit obcaecati pariatur, porro explicabo laborum? Impedit!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mb-3">
    <div class="row mb-3 text-center big-title">
        <div class="col">
            <h2><a role="button" data-bs-toggle="collapse" href=".actions">Actions</a></h2>
        </div>
    </div>
    <div class="row mb-3 actions">
        <div class="col">
            <div class="row text-center">
                <div class="col">
                    <h3 class="title-right">Medical Rx</h3>
                </div>
                <div class="col">
                    <h3 class="title-left">Glass Rx</h3>
                </div>
                <div class="col">
                    <h3 class="title-right">Papers</h3>
                </div>
            </div>
            <div class="row">
                <div class="col bg-right">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deleniti dolor vitae libero a doloremque nobis quo quidem incidunt non suscipit molestiae odit velit obcaecati pariatur, porro explicabo laborum? Impedit!</p>
                </div>
                <div class="col bg-left">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deleniti dolor vitae libero a doloremque nobis quo quidem incidunt non suscipit molestiae odit velit obcaecati pariatur, porro explicabo laborum? Impedit!</p>
                </div>
                <div class="col bg-right">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deleniti dolor vitae libero a doloremque nobis quo quidem incidunt non suscipit molestiae odit velit obcaecati pariatur, porro explicabo laborum? Impedit!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3 actions">
        <div class="col">
            <div class="row text-center">
                <div class="col">
                    <h3 class="title-right">Follow-up</h3>
                </div>
            </div>
            <div class="row">
                <div class="col bg-right">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deleniti dolor vitae libero a doloremque nobis quo quidem incidunt non suscipit molestiae odit velit obcaecati pariatur, porro explicabo laborum? Impedit!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mb-3">
    <div class="row mb-3 text-center big-title">
        <div class="col">
            <h2><a role="button" data-bs-toggle="collapse" href=".bill">Billing</a></h2>
        </div>
    </div>
    <div class="row mb-3 bill">
        <div class="col">
            <div class="row text-center">
                <div class="col">
                    <h3 class="title-right">Right eye</h3>
                </div>
                <div class="col">
                    <h3 class="title-left">Left eye</h3>
                </div>
                <div class="col">
                    <h3 class="title-right">General</h3>
                </div>
            </div>
            <div class="row">
                <div class="col bg-right">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deleniti dolor vitae libero a doloremque nobis quo quidem incidunt non suscipit molestiae odit velit obcaecati pariatur, porro explicabo laborum? Impedit!</p>
                </div>
                <div class="col bg-left">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deleniti dolor vitae libero a doloremque nobis quo quidem incidunt non suscipit molestiae odit velit obcaecati pariatur, porro explicabo laborum? Impedit!</p>
                </div>
                <div class="col bg-right">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deleniti dolor vitae libero a doloremque nobis quo quidem incidunt non suscipit molestiae odit velit obcaecati pariatur, porro explicabo laborum? Impedit!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3 bill">
        <div class="col">
            <div class="row text-center">
                <div class="col">
                    <h3 class="title-right">Recap</h3>
                </div>
            </div>
            <div class="row">
                <div class="col bg-right">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deleniti dolor vitae libero a doloremque nobis quo quidem incidunt non suscipit molestiae odit velit obcaecati pariatur, porro explicabo laborum? Impedit!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal kmModal -->
<div class="modal fade" id="mxModal" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit medication</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <form id="mxFormModal" enctype="multipart/form-data" method="POST">
                                <div class="container-fluid">
                                    <div class="row mb-3">
                                        <div class="col">
                                            <label for="mxlaterality_modal" class="form-label">Side:</label>
                                            <div class="input-group">
                                                <div class="btn-group mxlaterality_modal">
                                                    <input type="radio" id="mxlaterality_right_modal" name="laterality"
                                                        class="btn-check" value="right" autocomplete="off">
                                                    <label class="btn btn-outline-primary"
                                                        for="mxlaterality_right_modal">Right</label>
                                                    <input type="radio" id="mxlaterality_left_modal" name="laterality"
                                                        class="btn-check" value="left" autocomplete="off">
                                                    <label class="btn btn-outline-primary"
                                                        for="mxlaterality_left_modal">Left</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label for="mxOnset" class="form-label">Onset:</label>
                                            <input id="mxOnset" type="date" step="1" class="form-control"
                                                name="onset">
                                            <div id="mxOnsetHelp" class="form-text">Adjust onset</div>
                                        </div>
                                        <div class="col">
                                            <label for="mxEnded" class="form-label">End:</label>
                                            <input id="mxEnded" type="date" step="1" class="form-control" name="ended">
                                            <div id="mxEndedHelp" class="form-text">Adjust end date</div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col">
                                            <label for="k1_modal" class="form-label">K1:</label>
                                            <div class="input-group mb-3">
                                                <button class="btn btn-outline-secondary counter_down_km1"
                                                    type="button">-</button>
                                                <input type="text"
                                                    class="form-control form-control-sm k1_modal counter_km1 text-center"
                                                    value="43.00" aria-label="K1" name="k1">
                                                <button class="btn btn-outline-secondary counter_up_km1"
                                                    type="button">+</button>
                                            </div>
                                            <label for="a1_modal" class="form-label">Axis 1:</label>
                                            <div class="input-group mb-3">
                                                <button class="btn btn-outline-secondary counter_down_axis1"
                                                    type="button">-</button>
                                                <input type="text"
                                                    class="form-control form-control-sm a1_modal counter_axis1 text-center"
                                                    value="180" aria-label="Axis 1" name="axis1">
                                                <button class="btn btn-outline-secondary counter_up_axis1"
                                                    type="button">+</button>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label for="k2_modal" class="form-label">K2:</label>
                                            <div class="input-group mb-3">
                                                <button class="btn btn-outline-secondary counter_down_km2"
                                                    type="button">-</button>
                                                <input type="text"
                                                    class="form-control form-control-sm k2_modal counter_km2 text-center"
                                                    value="43.00" aria-label="K2" name="k2">
                                                <button class="btn btn-outline-secondary counter_up_km2"
                                                    type="button">+</button>
                                            </div>
                                            <label for="a2_modal" class="form-label">Axis 2:</label>
                                            <div class="input-group mb-3">
                                                <button class="btn btn-outline-secondary counter_down_axis2"
                                                    type="button">-</button>
                                                <input type="text"
                                                    class="form-control form-control-sm a2_modal counter_axis2 text-center"
                                                    value="180" aria-label="Axis 2" name="axis2">
                                                <button class="btn btn-outline-secondary counter_up_axis2"
                                                    type="button">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col">
                                            <label for="notekModal" class="form-label">Note:</label>
                                            <input id="notekModal" type="text" class="form-control" name="note">
                                            <div id="notekModal" class="form-text">Note</div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col">
                                            <h4>Km= <span class="kmCalculated">43.00D</span></h4>
                                        </div>
                                        <div class="col">
                                            <h4>K1= <span class="k1Calculated">7.85mm</span></h4>
                                        </div>
                                        <div class="col">
                                            <h4>K1= <span class="k2Calculated">7.85mm</span></h4>
                                        </div>
                                    </div>
                                </div>
                                <input id="idKm" type="text" class="visually-hidden" name="id" />
                                <input id="idPatientKm" type="text" class="visually-hidden" name="id_auth_user" />
                                <input id="idWlKm" type="text" class="visually-hidden" name="id_worklist" />
                                <input id="methodKmModalSubmit" type="text" class="visually-hidden"
                                    name="methodKmModalSubmit" value="PUT" />
                                <input id="btnKmModalSubmit" type="submit" class="visually-hidden" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <label id="kmModalSubmit" for="btnKmModalSubmit" class="btn btn-primary" tabindex="0">Submit</label>
            </div>
        </div>
    </div>
</div>


[[ block js_scripts]]
<!-- <script src="js/bootstrap-table/bootstrap-table.min.js"></script> -->
<!-- <script src="js/bootstrap-table/bootstrap-table.js"></script> -->
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
<script src="js/bootbox/bootbox.all.min.js"></script>
<script src="js/jquery.serialize-object.min.js"></script>
<script src="js/useful.js"></script>
<script src="js/md_bt.js"></script>
<script type="text/javascript">

const HOSTURL = 'http://localhost:8000';
const wlId = [[= wlId ]];
const userId = [[ = userId ]]

// timeOffset 'Europe/Brussels' GMT+2:00
const timeOffsetInHours = 2;
const timeOffset = 3600*timeOffsetInHours; // in sec

// submit btn to disable when done
const btnArr = [];

// init tables
const API_MX = HOSTURL + "/myapp/api/mx?@lookup=medication!:id_medic_ref[id,name,brand],mod!:modified_by[id,first_name,last_name],creator!:created_by[id,first_name,last_name]&@count=true&id_auth_user.eq=" + userId;
const API_MD = HOSTURL + "/myapp/api/md?@lookup=mod!:modified_by[id,first_name,last_name],creator!:created_by[id,first_name,last_name]&@count=true&id_worklist.eq="+wlId;

var $mx = $('#mx_tbl').bootstrapTable({
    url: API_MX
});


const tablesArr = ['#mx_tbl'];

// Fires after the table body is rendered and available in the DOM, the parameters contain data
$('#md_tbl').on('post-body.bs.table', function () {

});

</script>
<script src="js/md.js"></script>
[[ end ]]