[[extend "baseof.html"]]

[[ block page_head]]
<link href="js/bootstrap-table_1.22/bootstrap-table.min.css" rel="stylesheet">
[[ include 'modalityCtr/styles/md-responsive.html' ]]
[[ include 'modalityCtr/styles/md-billing.html' ]]
[[ end ]]

[[ block left_nav ]]
[[ end]]

[[ include 'partials/patient-bar.html' ]]

<div class="container-fluid mb-3"> <!-- controller title-->
    <div class="row big-title bg-neutral">
        <div class="col">
            <h1><a role="button" data-bs-toggle="collapse" href=".md">Medical examination</a></h1>
        </div>
    </div>
</div>

<div id="hx-container" class="container-fluid mb-3"> <!-- Hx container-->
    <div class="row mb-3 big-title bg-primary">
        <div class="col">
            <h2><a role="button" data-bs-toggle="collapse" href=".history">Past history</a></h2>
        </div>
    </div>
    <!-- General History Section - Contains 4 tables: mx_tbl, ax_tbl, mHx_tbl, sHx_tbl -->
    [[ include 'modalityCtr/sections/history/general-history.html' ]]
    <!-- Medical-Surgical History Section - Contains 8 tables: oHx_tbl, table-wl, tonoRight_tbl, tonoLeft_tbl, rxRight_tbl, rxLeft_tbl, kmRight_tbl, kmLeft_tbl -->
    [[ include 'modalityCtr/sections/history/medical-surgical-history.html' ]]
</div> <!-- end Hx container-->
[[ include 'modalityCtr/sections/examination/present-history.html' ]]
[[ include 'modalityCtr/sections/examination/clinical-exam.html' ]]

[[ include 'modalityCtr/sections/examination/conclusions.html' ]]
<div id="x-container" class="container-fluid mb-3"> <!-- container actions -->
    <div class="row mb-3 big-title bg-warning">
        <div class="col">
            <h2><a role="button" data-bs-toggle="collapse" href=".actions">Actions</a></h2>
        </div>
    </div>
    <div class="row mb-3 actions">
        [[ if userMembership == 'Doctor':]]
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="col">
                        <h3 class="title-right">Medical Rx</h3>
                    </div>
                </div>
            </div>
            [[ include 'modalityCtr/sections/actions/medical-prescriptions.html' ]]
        </div> <!-- end medical action col row-->
        [[ pass ]]
        <div class="col">
            [[ include 'modalityCtr/sections/actions/optical-prescriptions.html' ]]
        </div> <!-- end glasses/lenses action col row-->
        <div class="col">
            <div class="row">
                <div class="col">
                    <h3 class="title-right">Papers</h3>
                </div>
            </div>
            [[ include 'modalityCtr/sections/actions/certificates-papers.html' ]]
        </div>
    </div>

    [[ include 'modalityCtr/sections/actions/follow-up.html' ]]

</div>

<!-- Billing Section - Contains bill_tbl table + action buttons + summary -->
[[ include 'modalityCtr/sections/billing/billing-section.html' ]]
[[ include 'modalityCtr/modals/history/medication-modal.html' ]]





[[ include 'modalityCtr/modals/prescriptions/glasses-rx-modal.html' ]]

[[ include 'modalityCtr/modals/prescriptions/contacts-rx-modal.html' ]]

<!-- Billing Modals -->
[[ include 'modalityCtr/modals/billing/billing-code-modal.html' ]]
[[ include 'modalityCtr/modals/billing/billing-combo-modal.html' ]]

[[ include 'modalityCtr/modals/utility/cache-offcanvas.html' ]]

<!-- All Modal Components (extracted for maintainability) -->
<!-- History Modals -->
[[ include 'modalityCtr/modals/history/allergy-modal.html' ]]
[[ include 'modalityCtr/modals/history/medical-history-modal.html' ]]

<!-- Prescription Modals -->
[[ include 'modalityCtr/modals/prescriptions/medical-rx-modal.html' ]]

<!-- Certificate Modals -->
[[ include 'modalityCtr/modals/certificates/certificate-modal.html' ]]
[[ include 'modalityCtr/modals/certificates/sick-leave-modal.html' ]]
[[ include 'modalityCtr/modals/certificates/email-info-modal.html' ]]

[[ block js_scripts]]

<!-- 1. Global Variables - MUST load first -->
[[ include 'modalityCtr/js-sections/md-globals.html' ]]

<!-- 2. External Libraries - Load after globals -->
<script src="js/bootstrap-table_1.22/bootstrap-table.min.js"></script>
<script src="js/bootbox/bootbox.all.min.js"></script>
<script src="js/jquery/jquery.serialize-object.min.js"></script>
<!-- https://bootstrap-autocomplete.readthedocs.io/en/latest/ -->
<script src="js/utils/bootstrap-autocomplete.min.js"></script>
<script src="js/timer.jquery.min.js"></script>
<script src="js/utils/useful.js"></script>
<script src="js/templates/patient-bar.js"></script>
<script src="js/md/md_bt.js"></script>
<!-- pdfmake and template prescription -->
<script src="js/pdfmake/pdfmake.min.js"></script>
<script src="js/pdfmake/vfs_fonts.js"></script>
<script src="js/jsbarcode/JsBarcode.itf.min.js"></script>
<script src="js/utils/html-to-pdfmake.js"></script>
<!-- tinymce -->
<script src="js/tinymce/tinymce.min.js"></script>

<!-- 3. API Endpoints - Depends on globals -->
[[ include 'modalityCtr/js-sections/md-apis.html' ]]

<!-- 4. Bootstrap Tables - Depends on APIs and external libraries -->
[[ include 'modalityCtr/js-sections/md-tables.html' ]]

<!-- 5. Initialization - Depends on all previous sections -->
[[ include 'modalityCtr/js-sections/md-init.html' ]]

<!-- 6. Medical Examination Logic - Load after all bootstrap tables -->
<script src="js/md/md.js"></script>
<script src="js/md/prescription.js"></script>
<script src="js/md/glasses.js"></script>
<script src="js/md/contacts.js"></script>
<script src="js/md/certificates.js"></script>
[[ end ]]