[[extend "baseof.html"]]

[[ block page_head]]
[[ end ]]

[[ block left_nav ]]
[[ include 'partials/nav-test.html' ]]
[[ end]]

<div class="container-fluid">
    <div class="row d-flex justify-content-evenly align-items-center">
        <div class="col">
            <a class="btn btn-primary" href="/myapp/worklist" role="button">Back</a>
        </div>
        <div class="col d-flex flex-column text-center" >
            <h2 id="patientName">John DOE</h2>
            <h3 id="patientDob" class="text-muted">1985-08-01</h3>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
            <div>Task planned for <span id="wlTimeslot">2020-01-21 12:30</span></div>
            <button class="btn btn-primary mx-2" type="button">Done</button>
          </div>
    </div>
</div>

<div class="container-fluid mt-2">
    <div class="row g-0 text-center" style="background-color: #f8f5f0;">
        <div class="col">
            <h1>AIR TONOMETRY</h1>
        </div>
    </div>
    <div class="row mt-3 text-center">
            <div class="col">
                <div class="col" style="background-color: #D5E3EE;"><h2>RIGHT EYE</h2></div>
            </div>    
            <div class="col">
                <div class="col" style="background-color: #EED9D5;"><h2>LEFT EYE</h2></div>
            </div>                
    </div>
    <div class="row text-center">
        <div class="col">
            <div class="row mb-3">
                <div class="col">
                    <form action="" class="row" id="airRightForm">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <label for="airRight" class="form-label">Air tonometry (RE):</label>
                                    <div class="input-group mb-3">
                                        <button class="btn btn-outline-secondary counter_down_tono" type="button">-</button>
                                        <input type="text" class="form-control airRight counter_tono text-center" value ="15.00" aria-label="Air tonometry" name="airRight">
                                        <button class="btn btn-outline-secondary counter_up_tono" type="button">+</button>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="pachyRight" class="form-label">Pachymetry (RE):</label>
                                    <div class="input-group mb-3">
                                        <button class="btn btn-outline-secondary counter_down_pachy" type="button">-</button>
                                        <input type="text" class="form-control pachyRight counter_pachy text-center" value ="550" aria-label="Optical pachymetry" name="pachyRight">
                                        <button class="btn btn-outline-secondary counter_up_pachy" type="button">+</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3" id="tonoPachyRight">
                                <div class="col">
                                    <button id="btnAddTonoPachyRight" class="btn btn-primary" type="submit">Submit right TonoPachy<i class=" mx-2 fas fa-plus"></i></button>
                                </div>                                                                    
                            </div>
                            <input id="idPatientWl" type="text" class="visually-hidden" name="id_auth_user"/>
                        </div>
                    </form>                   
                </div>  <!-- end airRight col -->
                <div class="col">
                    <form action="" id="airLeftForm">
                        <div class="row">
                            <div class="col">
                                <label for="airRight" class="form-label">Air tonometry (LE):</label>
                                <div class="input-group mb-3">
                                    <button class="btn btn-outline-secondary counter_down_tono" type="button">-</button>
                                    <input type="text" class="form-control airLeft text-center counter_tono" value ="15" aria-label="Air tonometry" name="airLeft">
                                    <button class="btn btn-outline-secondary counter_up_tono" type="button">+</button>
                                </div>                        
                            </div>
                            <div class="col">
                                <label for="pachyLeft" class="form-label">Pachymetry (LE):</label>
                                <div class="input-group mb-3">
                                    <button class="btn btn-outline-secondary counter_down_pachy" type="button">-</button>
                                    <input type="text" class="form-control pachyLeft counter_pachy text-center" value ="550" aria-label="Optical pachymetry" name="pachyLeft">
                                    <button class="btn btn-outline-secondary counter_up_pachy" type="button">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3" id="tonoPachyLeft">
                            <div class="col">
                                <button id="btnAddTonoPachyLeft" class="btn btn-primary" type="submit">Submit left TonoPachy<i class=" mx-2 fas fa-plus"></i></button>
                            </div>
                            <input id="idPatientWl" type="text" class="visually-hidden" name="id_auth_user"/>
                        </div>
                    </form>
                </div> <!-- end airLeft col -->
            </div>  <!-- end row airPachy form col -->
            <div class="row mb-3">
                <div class="col">
                    <table
                        id="airPachyRight_tbl"
                        data-side-pagination="server"
                        data-pagination="true"
                        data-page-size="10"
                        data-search="false"
                        data-query-params="queryParams_airPachy"
                        data-response-handler="responseHandler_airPachy"
                        >
                        <thead>
                            <tr>
                                <th data-field="id" data-sortable="false">Id</th>
                                <th data-field="tonometry" data-sortable="false">Tono(air)</th>
                                <th data-field="pachymetry" data-sortable="false">Pachy</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col">
                    <table
                        id="airPachyLeft_tbl"
                        data-toggle="table"
                        data-side-pagination="server"
                        data-pagination="true"
                        data-page-size="10"
                        data-query-params="queryParams_airPachy"
                        data-response-handler="responseHandler_airPachy"
                        >
                        <thead>
                            <tr>
                                <th data-field="id" data-sortable="true">Id</th>
                                <th data-field="tonometry" data-sortable="true">Tono(air)</th>
                                <th data-field="pachymetry" data-sortable="true">Pachy</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="wldetails">
    <p>Worklist id: [[= wlId ]]</p>
</div>

[[ block js_scripts]]
<!-- <script src="js/bootstrap-table/bootstrap-table.min.js"></script> -->
<!-- <script src="js/bootstrap-table/bootstrap-table.js"></script> -->
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
<script src="js/bootbox/bootbox.all.min.js"></script>
<script src="js/jquery.serialize-object.min.js"></script>
<script src="js/tono_bt.js"></script>
<script type="text/javascript">

const HOSTURL = 'http://localhost:8000';
const wlId = [[= wlId ]];
const API_AIRRIGHT = HOSTURL + "/myapp/api/tono?laterality.eq=right&techno.eq=air&@count=true";
const API_AIRLEFT = HOSTURL + "/myapp/api/tono?laterality.eq=left&techno.eq=air&@count=true";

console.log(API_AIRRIGHT);

var $table_airRight = $('#airPachyRight_tbl').bootstrapTable({
    url: API_AIRRIGHT
});

var $table_airLeft = $('#airPachyLeft_tbl').bootstrapTable({
    url: API_AIRLEFT
});

</script>
<script src="js/tono.js"></script>
[[ end ]]