*.pyc
__pycache__/
databases/
*.csv
!init_db.csv
!init_db_129.csv
settings.py
.vscode/
machines/
patients/
upload/
static/images/assets/avatar/woman_avatar.svg
static/images/assets/avatar/man_avatar_200x200.svg
static/images/assets/avatar/man_avatar.svg
static/images/assets/avatar/woman_avatar_200x200.svg
*..code-workspace
.DS_store
data/
token.txt
package-lock.json
package.json
node_modules/
*.save
