[[ if 'userHierarchy' not in locals():]]
[[ userHierarchy = 10000]]
[[ pass]]
[[ if userHierarchy != None:]]
<li class="nav-item">
    <a href="[[=URL('worklist')]]" class="nav-link">Worklist</a>
</li>
<li class="nav-item">
    <a href="[[=URL('manage/files')]]" class="nav-link">Files</a>
</li>
[[ if userHierarchy <= 1:]] <li class="nav-item">
    <a href="[[=URL('daily_transactions')]]" class="nav-link">
        <i class="fas fa-receipt me-1"></i>Transactions
    </a>
    </li>
    [[ pass ]]
    [[ pass ]]
    <!--<li class="nav-item">
    <a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasCache" role="button" aria-controls="offcanvasCache">
        Cache
    </a>
</li> -->