
<div class="container-fluid mb-1 patient-id sticky-top" id="wlItemDetails">
    <div class="row mb-3 d-flex justify-content-center align-items-center">
        <div class="col">
            <p>Task: #[[ = wlId ]] </p>
            <p>Timeslot: <span class="timeslot whitebg"></span></p>
            <p>Patient notes: <span class="user_notes whitebg"></span></p>
        </div>
        <div class="col">
            <p>Modality: <span class="modality whitebg"></span></p>
            <p>Laterality: <span class="laterality whitebg"></span></p>
        </div>
        <div id="patientIdDiv" class="col text-end">
            <h2 class="patientName"></h2>
            <h3 class="patientDob text-muted"></h3>
            <h4 class="patientId fst-italic"></h4>
            <h4 class="patientGender fst-italic"></h4>
        </div>
        <div class="col" id="photoDiv">
            <img id="photoId" src="" alt="Photo from EID">
        </div>
        <div class="col">
            <p>Provider: <span class="provider whitebg"></span></p>
            <p>Senior: <span class="senior whitebg"></span></p>
        </div>
        <div class="col">
            <p>Warning: <span class="warning bg-danger text-wrap p-1" style="color: white;"></span></p>
            <p>Status: <span class="status whitebg"></span></p>
        </div>
    </div>
    <div class="row">
        <div id="mdHistory" class="col d-flex justify-content-center align-items-center mx-5 py-1">
        </div>
    </div>
    <div class="row pb-2">
        <div class="col d-flex justify-content-start align-items-center">
            <a class="btn btn-primary" href="javascript:history.back()" role="button">Back</a>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
            <button class="btn btn-warning mx-2" id="btnUnlockTask" type="button">Unlock <i class="fas fa-unlock"></i></button>
            <button class="btn btn-primary mx-2" id="btnTaskDone" type="button">Done <i class="fas fa-check"></i></button>
        </div>
    </div>
</div>

<script type="text/javascript">
const wlId = [[= wlId ]];
const wlDict = [[ = XML(wlDict) ]];
const wlObj = wlDict[0];
const providerDict = [[ = XML(providerDict) ]];
const providerObj = providerDict[0];
const seniorDict = [[ = XML(seniorDict) ]];
const seniorObj = seniorDict[0];
const patientObj = wlDict[0]['auth_user'];
const patientId = patientObj['id'];
const mdHistory = 
[[ if 'mdHistory' is locals():]]
[[ = XML(mdHistory) ]];
[[ else:]]
[[='[]']]
[[ pass ]];
const genderIdObj = [[ = XML(genderObj) ]];
</script>