[[extend 'baseof.html']]

[[ block page_head]]
<link href="js/bootstrap-table_1.22/bootstrap-table.min.css" rel="stylesheet">

[[ end ]]


[[ block left_nav ]]
[[ end]]

<div class="container-fluid py-1 patient-id" id="patientTitle">
    <div class="row mb-3 d-flex justify-content-center align-items-center">
        <div id="patientIdDiv" class="col-4 text-end">
            <h3 class="wlID">Worklist #[[ = wl_id ]]</h3>
            <h3 class="patientName"></h3>
            <h5 class="patientDob text-muted"></h5>
            <h5 class="patientGender fst-italic"></h5>
        </div>
        <div class="col-2 photoDiv visually-hidden text-center">
            <img class="photoId" src="" alt="Photo from EID">
        </div>
        <div class="col-4 text-start">
            <h5 class="patientId fst-italic"></h5>
            <h5 class="patientSsn fst-italic"></h5>
            <h6 class="patientCard fst-italic"></h6>
            <h6 class="patientEmail fst-italic"></h6>
        </div>
    </div>
</div>

[[ if DETAILS == True:]]
<div class="test container-fluid">
    <div class="row">
        <div class="col">
            <h5>User</h5> [[ = globals().get('user')]]
            <h5>rec_id</h5> [[ = rec_id ]]
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>WL:</h5> [[ =wl_row.as_json() ]]
            <h5>wl_id</h5> [[ = wl_id ]]
        </div>
    </div>
</div>

[[ pass ]]
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Full History</h2>
            <table class="table table-striped" id="combinedRecordsTable">
                <thead>
                    <tr>
                        <!-- Headers will be added dynamically here -->
                    </tr>
                </thead>
                <tbody>
                    <!-- Data rows will be added dynamically here -->
                </tbody>
            </table>    
        </div>
    </div>
</div>

<div class="container-fluid py-2"> <!-- table template -->
    <div class="row">
        <div class="col">
            <h2>Codes</h2>
            <div id="codesTable">

            </div>
        </div>
        <div class="col">
            <h2>Breakdown</h2>
            <div id="breakdownTable">
                    
            </div>
        </div>
    </div>
</div>

<div class="container-fluid my-2">
    <div class="row">
        <div class="col">
            <h2>Payments</h2>
            <div id="paymentsTable"></div>
            <table
                id="paymentsBsTable"
                data-toggle="table"
                data-side-pagination="server"
                data-page-size="10"
                data-show-columns="true"
                data-search-accent-neutralise="true"
                data-visible-search="false"
                data-response-handler="responseHandler_wlPayments"
                data-detail-formatter="detailFormatter_wlPayments"
                data-detail-view="true"
                data-detail-view-icon="true"
                data-show-refresh="true"
                data-show-footer="false"
                >
                <thead>
                    <tr>
                        <th data-field="date" data-sortable="true">Date</th>
                        <th data-field="paid" data-sortable="true">Paid</th>
                        <th data-field="card" data-sortable="false">Card</th>
                        <th data-field="cash" data-sortable="false">Cash</th>
                        <th data-field="invoice" data-sortable="false">Invoice</th>
                        <th data-field="operate" data-formatter="operateFormatter_wlPayments" data-events="operateEvents_wlPayments">Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


<div class="container-fluid my-2">
    <div class="row">
        <div class="col">
            <h2>Attestations</h2>
            <table class="table table-striped">
                <tr>
                    <th>Date</th>
                    <th>Fee</th>
                    <th>Status</th>
                    <th>Note</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <th>01/01/2024</th>
                    <td>147.00€</td>
                    <td>Cancelled</td>
                    <td>Erreur</td>
                    <td>
                        <button class="btn btn-primary btn-sm"><i class="bi bi-download"></i></button>
                        <button class="btn btn-danger btn-sm" ><i class="bi bi-x-square"></i></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col border border-4 border-danger p-2">
            <h2>Remaining to pay:</h2>
            <button type="button" id="btnNewpayment" class="btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#paymentModal">Pay <span id="sum">147</span> €</button>
        </div>
    </div>
</div>


<div class="container-fluid my-3">
    <div class="row">
        <div class="col">
            <h2>Transactions history</h2>
            <div id = "transactionsTable">
                
            </div>
        </div>
    </div>
</div>

<!-- Modal paymentModal -->
<div class="modal fade mt-5" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Encode payment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form id="paymentFormModal">
                        <div class="container-fluid">
                            <div class="row">
                                <input type="text" id="authUserId" class="d-none" value="[[= XML(rec_id) ]]">
                                <input type="text" id="wlId" class="d-none" value="[[= XML(wl_id) ]]">
                                <input type="text" id="idPayment" class="d-none" value="0">
                                <input type="text" id="reqPayment" class="d-none" value="POST">
                                <div class="col-4">
                                    <span for="cardPayment" class="form-label">💳 Card:</span>
                                    <div class="input-group">
                                        <span class="input-group-text">€</span>
                                        <input id="cardPayment" type="number" class="form-control text-end" name="card_payment" min="0" step="0.01" value="0" aria-label="Amount (to the nearest euro)">
                                        <span class="input-group-text">.00</span>
                                    </div> 
                                </div>
                                <div class="col-4">
                                    <span for="cashPayment" class="form-label">💵 Cash:</span>
                                    <div class="input-group">
                                        <span class="input-group-text">€</span>
                                        <input id="cashPayment" type="number" class="form-control text-end" name="cash_payment" min="0" step="0.01" value="0" aria-label="Amount (to the nearest euro)">
                                        <span class="input-group-text">.00</span>
                                    </div> 
                                </div>
                                <div class="col-4">
                                    <span for="invoicePayment" class="form-label">🏦 Invoice:</span>
                                    <div class="input-group">
                                        <span class="input-group-text">€</span>
                                        <input id="invoicePayment" type="number" class="form-control text-end" name="invoice_payment" min="0" step="0.01" value="0" aria-label="Amount (to the nearest euro)">
                                        <span class="input-group-text">.00</span>
                                    </div> 
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-4">
                                    <select id="cardType" class="form-select" name="card_type" aria-label="Select card type">
                                        <option value="bancontact" selected>Bancontact</option>
                                        <option value="contactless">Contactless</option>
                                        <option value="visa">Visa</option>
                                        <option value="mc">Mastercard</option>
                                    </select>
                                </div>
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <select id="invoiceType" class="form-select" name="invoice_type" aria-label="Select invoice type">
                                        <option value="council" selected>Council</option>
                                        <option value="transfer">Bank transfer</option>
                                        <option value="visa">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <span class="fs-3 py-2">Amount to pay: <span id="remainPayment">0</span> €</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="recordPayment" class="btn btn-danger" data-bs-dismiss="modal" data-cert-flag="pay">Record Payment (sum)</button>
            </div>
        </div>
    </div>
</div>




[[ block js_scripts ]]
<script type="text/javascript">
// globals
const patientId = [[ =rec_id ]];
const membership = [[=membership]];
const HOSTURL = "[[ = hosturl ]]";
const wlId = [[ = wl_id ]];
var currentTransactionObj = [[ =XML(transactionObj) ]];
const transactionId = currentTransactionObj.id;

const API_USER= HOSTURL+'[[=URL('api','auth_user')]]'+'?id.eq='+patientId+'&@lookup=gender,marital,membership,ethny&@count=true'; 
const API_CHXUSER = HOSTURL + '[[=URL('api','current_hx')]]' + '?@count=true&@lookup=mod!:modified_by[id,first_name,last_name],creator!:created_by[id,first_name,last_name]&id_auth_user.eq=' + patientId
const API_CCXUSER = HOSTURL + '[[=URL('api','ccx')]]' + '?@count=true&@lookup=mod!:modified_by[id,first_name,last_name],creator!:created_by[id,first_name,last_name]&laterality.eq=na&id_auth_user.eq=' + patientId
const API_FOLUSER = HOSTURL + '[[=URL('api','followup')]]' + '?@count=true&@lookup=mod!:modified_by[id,first_name,last_name],creator!:created_by[id,first_name,last_name]&id_auth_user.eq=' + patientId
const API_BILUSER = HOSTURL + '[[=URL('api','billing')]]' + '?@count=true&@lookup=mod!:modified_by[id,first_name,last_name],creator!:created_by[id,first_name,last_name]&id_auth_user.eq=' + patientId

// table listing wlcodes 
const API_WLCODES = HOSTURL + "/"+APP_NAME+"/api/wl_codes?id_auth_user.eq="+patientId+"&status.gt=-1&id_worklist.eq="+wlId+"&@lookup=nomenclature:nomenclature_id[code,code_desc,price_list,supplement_ratio,not_compatible,min_reccurency,add_documents,min_age,max_age,covered],mod!:modified_by[id,first_name,last_name],creator!:created_by[id,first_name,last_name]&@count=true&@order=[~id,~status]";

// table listing transactions 
const API_TRANSACTIONS = HOSTURL + "/"+APP_NAME+"/api/transactions?id_auth_user.eq="+patientId+"&@lookup=mod!:modified_by[id,first_name,last_name],creator!:created_by[id,first_name,last_name]&@count=true&@order=~id";
const API_WL_TRANSACTION = HOSTURL + "/"+APP_NAME+"/api/transactions?id_auth_user.eq="+patientId+"&id_worklist.eq="+wlId+"&@lookup=mod!:modified_by[id,first_name,last_name],creator!:created_by[id,first_name,last_name]&@count=true&@order=~id";

// table listing WL payments from user
const API_WL_PAYMENTS = HOSTURL + "/"+APP_NAME+"/api/wl_payments?id_auth_user.eq="+patientId+"&id_worklist.eq="+wlId+"&@lookup=mod!:modified_by[id,first_name,last_name],creator!:created_by[id,first_name,last_name]&@count=true&@order=~id";

</script>
<script src="js/bootstrap-table_1.22/bootstrap-table.min.js"></script>
<script src="js/useful.js"></script>
<script src="js/payments.js"></script>
<script src="js/payments-bt.js"></script>
<script src="js/bootbox/bootbox.all.min.js"></script>

<script type="text/javascript">

const endpoints = [
        { 'name': 'History', 'api': API_CHXUSER },
        { 'name': 'Conclusion', 'api': API_CCXUSER },
        { 'name': 'Follow-up', 'api': API_FOLUSER },
        // { 'name': 'Billing', 'api': API_BILUSER }
        // ... add more endpoints as needed
    ];


document.addEventListener('DOMContentLoaded', function() {
    
    const combinedTable = document.getElementById('combinedRecordsTable');
    const combinedTableHead = combinedTable.querySelector('thead tr');
    const combinedTableBody = combinedTable.querySelector('tbody');

    // Dynamically create headers
    endpoints.forEach(endpoint => {
        combinedTableHead.innerHTML += `<th scope="col">Timestamp</th>`;
        combinedTableHead.innerHTML += `<th scope="col">${endpoint.name}</th>`;
    });

    // Create a promise for each API endpoint
    const promises = endpoints.map(endpoint => 
        fetch(endpoint.api).then(response => response.json())
    );

    Promise.all(promises)
        .then(allData => {
            // Initialize an array for combined rows
            let combinedRows = [];

            // Combine data from all endpoints, aligning by index
            const maxLength = Math.max(...allData.map(data => data.items.length));
            for (let i = 0; i < maxLength; i++) {
                combinedRows[i] = allData.map(data => data.items[i] || {});
            }

            // Sort combined rows by the first timestamp in descending order
            combinedRows.sort((a, b) => {
                const dateA = new Date(a[0].created_on);
                const dateB = new Date(b[0].created_on);
                return dateB - dateA;
            });

            // Populate the table rows
            combinedRows.forEach(rowItems => {
                const row = document.createElement('tr');
                rowItems.forEach((item, index) => {
                    const isFirstColumn = index === 0;
                    const isLastColumn = index === rowItems.length - 1;
                    row.innerHTML += `
                        <td class="${isFirstColumn ? 'fw-bold' : ''}">${item.created_on || ''}</td>
                        <td class="${isLastColumn ? 'fw-bold' : ''}">${item.description || ''}</td>
                    `;
                });
                combinedTableBody.appendChild(row);
            });
        })
        .catch(error => console.error('Error:', error));
});

var $paymentsBsTable = $('#paymentsBsTable').bootstrapTable({
    url: API_WL_PAYMENTS
});


</script>
[[ end ]]