<script type="text/javascript">
    // Global variables
    const HOSTURL = "[[ = hosturl ]]";
    var usermdObj = [[ =XML(mdParams)]];
    var userObj = [[ =XML(userDict)]];
    // for timer
    var timer_id = [];
    // modality controllers
    var modalityDict = [[ = XML(modalityDict)]];
    let modalityController = '[[ = XML(modalityController) ]]';
    // prescription objects
    var rxObj = [], tonoObj = [];
    var prescRxObj = {};
    var axe64 = 'data:image/png;base64,' + '[[=XML(axe64)]]';
    var logo64 = 'data:image/jpg;base64,' + '[[=XML(logo64)]]';
    // submit btn to disable when done
    const btnArr = ['#btnTaskDone', '#btnNewMx', '#btnNewAx', '#btnNewmHx', '#btnNewsHx', 'input', 'textarea', '#btnNewCoding', '#btnNewMxWl', '#btnMxRx', '#btnGxRx'];
</script>