html {
    position: relative;
    min-height: 100%;
  }

section#main {
    margin-top: 100px;
}

/* Sticky footer styles -------------------------------------------------- */
body {
    margin-bottom: 70px; /* Margin bottom by footer height */
  }
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
