/* html {
    position: relative;
    min-height: 100%;
  } */

section#main {
    margin-top: 70px;
}

.footer {
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  margin-top: 20px;
}

.patient-id {
  background-color: #E9FFE8;
  padding-top: 70px ;
}

.big-title {
  background-color: #f8f5f0;
  text-transform: uppercase;
  color: inherit; 
  text-decoration: none;
  text-align: center;
}

.big-title a {
  color: inherit; 
  text-decoration: none;
}

.title-right {
  text-align: center;
  background-color: #D5E3EE;
  text-transform: uppercase;
}

.title-left {
  text-align: center;
  background-color: #EED9D5;
  text-transform: uppercase;
}

.bg-right {
  background-color: #F0F8FF;
}

.bg-left {
  background-color: #FFF5EE;
}
