/* html {
    position: relative;
    min-height: 100%;
  } */

section#main {
    margin-top: 70px;
}

.footer {
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  margin-top: 20px;
}

.patient-id {
  background-color: #E9FFE8;
  /* padding-top: 70px ; */
  padding-top: 10px ;
}

.bg-neutral {
  background-color: #f8f5f0;
}

.big-title {
  text-transform: uppercase;
  color: inherit; 
  text-decoration: none;
  text-align: center;
}

.big-title a {
  color: inherit; 
  text-decoration: none;
}

.title-right {
  text-align: center;
  background-color: #D5E3EE;
  text-transform: uppercase;
}

.title-left {
  text-align: center;
  background-color: #EED9D5;
  text-transform: uppercase;
}

.bg-right {
  background-color: #F0F8FF;
}

.bg-left {
  background-color: #FFF5EE;
}

.highlight {
  border: 2px solid red;
  transition: background .5s ease-in;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in; 
  -webkit-transition: all .5s ease-in; 
}

#cHxDiv {
  scroll-margin-top: 240px;
}

.whitebg {
  background-color: #FFFFFF;
  padding: 3px;
}

textarea.height-100 {
  height: 100% !important;
}