[[extend 'baseof.html']]
[[ block page_head]]
<link href="css/bootstrap-table.min.css" rel="stylesheet">
<style>
</style>
[[ end ]]

[[ block left_nav ]]
<li class="nav-item">
    <a href="[[=URL('user')]]" class="nav-link">Users</a>
</li>
[[ end]]

<div class="container">
    <button class="btn btn-warning mx-2" id="getList" type="button">Get list</button>
</div>

<div class="container">
    <form id="searchForm">
        <div class="form-group">
          <label for="searchText">Search</label>
          <input type="text" name="searchStr" class="form-control" id="searchText" aria-describedby="search" placeholder="Lastname,firstname">
          <small id="searchHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <select class="form-select" name="machine" aria-label="Default select example">
            <option selected value="l80">L80</option>
            <option value="vx100">VX100</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div id="list" class="container">
    <table class="table tablewf">
        <thead>
          <tr>
            <th scope="col">Last</th>
            <th scope="col">First</th>
            <th scope="col">Datetime</th>
            <th scope="col">Side</th>
            <th scope="col">Sph</th>
            <th scope="col">Cyl</th>
            <th scope="col">Axis</th>
            <th scope="col">Export</th>
          </tr>
        </thead>
        <tbody id="table-data-wf">
        </tbody>
    </table>
</div>

<div id="list" class="container">
    <table class="table tablewf">
        <thead>
          <tr>
            <th scope="col">Last</th>
            <th scope="col">First</th>
            <th scope="col">Datetime</th>
            <th scope="col">Side</th>
            <th scope="col">k1</th>
            <th scope="col">k1_axis</th>
            <th scope="col">k2</th>
            <th scope="col">k2_axis</th>
            <th scope="col">Export</th>
          </tr>
        </thead>
        <tbody id="table-data-topo">
        </tbody>
    </table>
</div>

<div class="container">
    <div class="row right_eye">
        <div class="col">
            <div>RIGHT EYE</div>
            <table
                id="visionix-right_tbl"
                data-side-pagination="server"
                data-toggle="table"
                data-pagination="true"
                data-page-size="10"
                data-search="false"
                data-query-params="queryParams"
                data-response-handler="responseHandler_vx"
                data-detail-formatter="detailFormatter_vx"
                data-detail-view="true"
                data-detail-view-icon="true"
                >
                <thead>
                    <tr>
                        <th data-field="date" data-sortable="true">Datetime</th>
                        <th data-field="patient" data-sortable="false">Patient</th>
                        <th data-field="exam" data-sortable="true">Exam</th>
                        <th data-field="Rx" data-sortable="false">Rx</th>
                        <th data-field="Kx" data-sortable="false">Kx</th>
                        <th data-field="operate" data-formatter="operateFormatter_mx" data-events="operateEvents_kx">Action
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col">
            <div>LEFT EYE</div>
            <table
                id="visionix-left_tbl"
                data-side-pagination="server"
                data-toggle="table"
                data-pagination="true"
                data-page-size="10"
                data-search="false"
                data-query-params="queryParams"
                data-response-handler="responseHandler_vx"
                data-detail-formatter="detailFormatter_vx"
                data-detail-view="true"
                data-detail-view-icon="true"
                >
                <thead>
                    <tr>
                        <th data-field="date" data-sortable="true">Datetime</th>
                        <th data-field="patient" data-sortable="false">Patient</th>
                        <th data-field="exam" data-sortable="true">Exam</th>
                        <th data-field="" data-sortable="false">Rx</th>
                        <th data-field="kx" data-sortable="false">Kx</th>
                        <th data-field="operate" data-formatter="operateFormatter_mx" data-events="operateEvents_kx">Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div>
    <p>User is: [[= XML(globals().get('user',{})) ]]</p>
</div>

[[ block js_scripts]]
<script src="js/bootstrap-table/bootstrap-table.min.js"></script>
<script src="js/jquery.serialize-object.min.js"></script>
<script src="js/listdir-bt.js"></script>
<script type="text/javascript">
const HOSTURL = "[[ = hosturl ]]";
let patient = {};
patient['lastname']='ch';
patient['firstname']='';

// table listing right measurement for patient in visionix
const API_VISIONIX_R = HOSTURL + '/myapp/rest/machines/vx100';
//?lastname'+patient['lastname'] +'&firstname='+patient['firstname']+'&side=right'
var $visionixright_tbl = $('#visionix-right_tbl').bootstrapTable({
    url: API_VISIONIX_R
});

// table listing left measurement for patient in visionix
const API_VISIONIX_L = HOSTURL + '/myapp/rest/machines/vx100' ;
// ?lastname'+patient['lastname'] +'&firstname='+patient['firstname']+'&side=left'
var $visionixleft_tbl = $('#visionix-left_tbl').bootstrapTable({
    url: API_VISIONIX_L
});

</script>

[[ end ]]