[[extend 'baseof.html']]
[[ block left_nav ]]
<li class="nav-item">
    <a href="[[=URL('user')]]" class="nav-link">Users</a>
</li>
[[ end]]

<div class="container">
    <button class="btn btn-warning mx-2" id="getList" type="button">Get list</button>
</div>

<div class="container">
    <form id="searchForm">
        <div class="form-group">
          <label for="searchText">Search</label>
          <input type="text" name="searchStr" class="form-control" id="searchText" aria-describedby="search" placeholder="Lastname,firstname">
          <small id="searchHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div id="list" class="container">
    <table class="table tablewf">
        <thead>
          <tr>
            <th scope="col">Last</th>
            <th scope="col">First</th>
            <th scope="col">Datetime</th>
            <th scope="col">Side</th>
            <th scope="col">Sph</th>
            <th scope="col">Cyl</th>
            <th scope="col">Axis</th>
          </tr>
        </thead>
        <tbody id="table-data">
        </tbody>
    </table>
</div>

<div>
    <p>User is: [[= XML(globals().get('user',{})) ]]</p>
</div>

[[ block js_scripts]]
<script src="js/jquery.serialize-object.min.js"></script>
<script type="text/javascript">
const HOSTURL = "[[ = hosturl ]]";

$('#getList').click(function(){
    $.ajax({
        url: HOSTURL + "/myapp/rest/l80",
        contentType: 'application/json',
        dataType: 'json',
        method: 'GET'
    })
    .done(function(data){
        html = [];
        console.log(data);
        html.push('<ul class="list-group">');
        for (let e in data) {
            html.push('<li class="list-group-item">');
            html.push('File name: '+ data[e]["file"] + ' - Path: '+ data[e]["path"]);
            html.push('</li>');
        };
        html.push('</ul>');
        html=html.join('');
        document.getElementById('list').innerHTML += html;
    });
});

let myArray;

$('#searchForm').submit(function(e) {
    e.preventDefault();
    let dataStr = $(this).serializeJSON();
    console.log('dataStr:',dataStr);
    let dataObj = JSON.parse(dataStr);
    console.log('dataObj:',dataObj);
    let searchList = dataObj['searchStr'].split(',');
    if (searchList[0] == undefined)
        { searchList[0] = ''};
    if (searchList[1] == undefined)
        { searchList[1] = ''};
    console.log('searchList:',searchList);
    // let reg = new RegExp(searchList[0]+'\\w*'+'#'+searchList[1]+'\\w*'+"#",'i');
    let searchFile = searchList.join('#')+'#';
    console.log('searchFile:',searchFile);
    $.ajax({
        url: HOSTURL + "/myapp/rest/l80s?lastname="+searchList[0]+"&firstname="+searchList[1],
        contentType: 'application/json',
        dataType: 'json',
        method: 'GET'
    })
    .done(function(data){
        document.getElementById('table-data').innerHTML = "";
        myArray = data;
        // console.log(data);
        myArray.forEach(
            e => {
                html = [];
                row = {};
                arrPatientid = e.file.split('#');
                console.log(arrPatientid);
                row['lastname'] = arrPatientid[0];
                row['firstname'] = arrPatientid[1];
                e.exams.forEach( dictExamstime => 
                Object.keys(dictExamstime).forEach(i => 
                    {   
                        dictExamstime[i].forEach( dictExams => {
                            console.log(Object.keys(dictExamstime)[0]); // Object.keys(dictExamstime)[0] date of exam
                            row['datetime'] = Object.keys(dictExamstime)[0];
                            Object.keys(dictExams).forEach( arrMes =>
                                {
                                    console.log(arrMes); // arrMes name of exam, dictExams[arrMes] is an object containing mesures
                                    dictExams[arrMes].forEach( mes =>
                                        {
                                            Object.keys(mes).forEach( key =>
                                                {
                                                    // console.log(mes[key]);
                                                    Object.keys(mes[key]).forEach( m => 
                                                    {
                                                        console.log(arrMes,m,mes[key][m]); // m is the type of measure, mes[key][m] is the measure
                                                        if (arrMes.includes('_L')) {
                                                                row['side'] = 'LEFT';
                                                            }
                                                            else if (arrMes.includes('_R')) {
                                                                row['side'] = 'RIGHT';
                                                            };
                                                        if (arrMes.includes('WF')) {
                                                            row['type'] = 'WF';
                                                            if (m.includes('sph5')) {
                                                                row['sph'] = mes[key][m];
                                                            }
                                                            else if (m.includes('cyl5')) {
                                                                row['cyl'] = mes[key][m];
                                                            }
                                                            else if (m.includes('axis5')) {
                                                                row['axis'] = mes[key][m];
                                                            };
                                                        } else if (arrMes.includes('Topo')) {
                                                            row['type'] = 'TOPO';
                                                        };
                                                    });
                                                }
                                            );
                                            if (row['type'] == 'WF') {
                                                html.push('<tr>');
                                                html.push('<td>'+row['lastname']+'</td>');
                                                html.push('<td>'+row['firstname']+'</td>');
                                                html.push('<td>'+row['datetime']+'</td>');
                                                html.push('<td>'+row['side']+'</td>');
                                                html.push('<td>'+row['sph']+'</td>');
                                                html.push('<td>'+row['cyl']+'</td>');
                                                html.push('<td>'+row['axis']+'</td>');
                                                html.push('</tr>');
                                                html=html.join('');
                                                console.log(html);
                                                document.getElementById('table-data').innerHTML += html;
                                                html = [];
                                            };
                                        }
                                    );
                                }
                            );
                        }
                    )}
                )
            )
            }
        );
    });
});

</script>

[[ end ]]