[[extend "baseof.html"]]

[[ block page_head]]
<style>
    .table td {
        text-align: center;
    }
    .table th {
        text-align: center;
    }
</style>

[[ end ]]

[[ block left_nav ]]
<li class="nav-item">
    <a href="[[=URL('facilities')]]" class="nav-link">facilities</a>
</li>
<li class="nav-item">
    <a href="[[=URL('testtable')]]" class="nav-link">testtable</a>
</li>
[[ end]]
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <button id="save" name="save" type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#saveModal"><span>Save DB </span><i class="fas fa-save"></i></button>
            <button id="reset" name="reset" type="button" class="btn btn-danger  m-2" data-bs-toggle="modal" data-bs-target="#resetModal"><span>Reset DB </span><i class="fas fa-undo"></i></button>
        </div>
        <div class="col-md-8">
            <div aria-live="polite" aria-atomic="true" style="position: relative;">
              <!-- Position it -->
              <div id="toastContainer" class="toast-top-full-width" style="position: absolute; top: 0; right: 0;">
                  <!-- Then put toasts within -->
              </div> <!-- toast container -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Filename</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="listDir">
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- modals -->
<div class="modal" id="saveModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Save database</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> <!-- modal header -->
        <div class="modal-body">
          <p>Are you sure you want save the database?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="confirm_savedb();">Save Database</button>
        </div>
      </div> <!--modal content -->
    </div>
</div>

<div class="modal" id="resetModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Reset database</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div> <!-- modal header -->
        <div class="modal-body">
          <p>Are you sure you want to delete and reinit the database?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" onclick="confirm_init();">Reset Database</button>
        </div>
      </div> <!--modal content -->
    </div>
</div>
  
<div class="modal" id="delModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete backup csv file</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div> <!-- modal header -->
        <div class="modal-body">
          <p>Are you sure you want to delete this backup csv file: <strong id="file2del"></strong>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" onclick="delcsv(filename);">Delete</button>
        </div>
      </div> <!--modal content -->
    </div>
</div>
  
  
  <div class="modal" id="restoreModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Restore backup csv file</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div> <!-- modal header -->
        <div class="modal-body">
          <p>Are you sure you want to delete this database and restore: <strong id="file2restore"></strong>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" onclick="restoreCsv(filename);">Restore</button>
        </div>
      </div> <!--modal content -->
    </div>
</div>

<div>
    <p>Value is : [[=test]]</p>
</div>
<div>
    <p>User is: [[= globals().get('user',{}) ]]</p>
</div>

[[ block js_scripts]]

<script src="js/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
  const CTRL_INIT_DB = '[[=URL('init_db')]]';
  const CTRL_SAVE_DB = '[[=URL('save_db')]]';
  const CTRL_LISTDIR = '[[=URL('list_dir_csv')]]';
  const CTRL_DELCSV = '[[=URL('del_csv')]]';
  const CTRL_RESTORE_DB = '[[=URL('restore_db')]]';
  $(function() {
    $('.toast').toast('');
    list_csv();
  });

var toast_counter = 0;
var time_counter = 0;
var filename ="";

function confirm_savedb() {
    time_counter = Date.now();
    $.ajax({
      url: CTRL_SAVE_DB,
      success: function(result) {
        arr = result.split(" ");
        if (arr[1] == 'True') {
            create_toast(toast_counter,time_counter,'DB saved')
        } else {
            create_toast(toast_counter,time_counter,'Error trying to save DB!')
        }
      }
    });
    $('#saveModal').modal('hide');
    list_csv();
}

function list_csv() {
  time_counter = Date.now();
  $.ajax({
    url: CTRL_LISTDIR,
    success: function(result) {
    show_csv_dir(result.split(" "));
    }
  });
}

function confirm_init() {
  time_counter = Date.now();
  $.ajax({
      url: CTRL_SAVE_DB,
      success: function(result) {
        arr = result.split(" ");
        if (arr[1] == 'True') {
            create_toast(toast_counter,time_counter,'DB saved')
            $.ajax({
                url: CTRL_INIT_DB,
                success: function(result) {
                arr = result.split(" ");
                if (arr[1] == 'True') {
                create_toast(toast_counter,time_counter,'DB blanked')
                } else {
                create_toast(toast_counter,time_counter,'Error trying to blank DB!')
                }
                }
            });
        } else {
            create_toast(toast_counter,time_counter,'Error trying to save DB!')
        }
      }
    });
    time_counter = Date.now();
  $('#resetModal').modal('hide');
  list_csv();
}

function confirm_restorecsv(datafile) {
  time_counter = Date.now();
  $('#file2restore').html(datafile);
  filename=datafile;
  $('#restoreModal').modal('show');
}

function restoreCsv(datafile) {
    time_counter = Date.now();
    console.log('file in restoreCsv function:'+datafile);
    $.ajax({
        url: CTRL_SAVE_DB,
        success: function(result) {
            arr = result.split(" ");
            if (arr[1] == 'True') {
            create_toast(toast_counter,time_counter,'DB saved');
            time_counter = Date.now();
            $.ajax({
                url: CTRL_RESTORE_DB+'?datafile='+datafile,
                success: function(result) {
                    $('#delModal').modal('hide');
                    arr = result.split(" ");
                    if (arr[1] == 'True') {
                    create_toast(toast_counter,time_counter,arr[0]+' restored')
                    } else {
                    create_toast(toast_counter,time_counter,"Couldn't restore"+arr[0]+' file!')
                    }
                }
            });
            } else {
            create_toast(toast_counter,time_counter,'Error trying to save DB!')
            };
        list_csv();
        }
    });
    $('#restoreModal').modal('hide');
}


function confirm_delcsv(datafile) {
  time_counter = Date.now();
  $('#file2del').html(datafile);
  filename=datafile;
  $('#delModal').modal('show');
}

function delcsv(datafile) {
  $.ajax({
      url: CTRL_DELCSV+'?datafile='+datafile,
      success: function(result) {
        $('#delModal').modal('hide');
        arr = result.split(" ");
        if (arr[1] == 'True') {
            create_toast(toast_counter,time_counter,arr[0]+' backup DELETED')
        } else {
            create_toast(toast_counter,time_counter,"Couldn't delete "+arr[0]+' file!')
        }
        list_csv();
      }
  });
}


function show_csv_dir(arr) { // arr is a python list of filenames
  var flag=arr.pop(); // last item from array  
  $('#listDir').html('');
  if (flag) {
    if (arr.length >0) {
      for (const i in arr) {
        displayItem('listDir',i,arr[i]);
      }
    } else {
      console.log('FLAG no file');
      displayItem('listDir','-1','No file found');
    }
  } else {
    console.log('flag: FALSE');
    displayItem('listDir','-1','No file found');
  }
}


function displayItem (id,index,value) {
  // console.log((value =='init_db.csv')||(typeof(index) =='none'));
  filenum = parseInt(index)+1;
  if ((value !='init_db.csv')&&(filenum != 0)){
    $('#'+id).append('<tr>');
    $('#'+id).append('<td scope="row">'+filenum+'</td>');
    $('#'+id).append('<td class="csv">'+value+'</td>');
    $('#'+id).append('<td>');
    $('#'+id).append('<button type="button" data-file="'+value+'" onclick="confirm_delcsv(&apos;'+value+'&apos;);" class="btn btn-danger m-2"><i class="fas fa-trash-alt"></i></button>');
    $('#'+id).append('<button type="button" data-file="' +value+ '" onclick="confirm_restorecsv(&apos;' +value+ '&apos;);" class="btn btn-warning m-2"><i class="fas fa-trash-restore-alt"></i></button>');
    $('#'+id).append('</td>');
  } else {
    $('#'+id).append('<tr>');
    $('#'+id).append('<td scope="row">'+filenum+'</td>');
    $('#'+id).append('<td class="csv">'+value+'</td>');
    $('#'+id).append('<td class="csv">kk</td>');
  };
  $('#'+id).append('</tr>');
}

function create_toast(id,start,txt) { // id number of toast, start = time at execution, txt = notification msg
  let row_id = 'toastRow'+id;
  //console.log(row_id);
  $("<div/>").attr('id',row_id).attr('class','mb-1').appendTo('#toastContainer');
  $("<div/>").attr('id','col'+id).appendTo('#'+row_id);
  $("<div/>").attr('id','toast'+id).attr('data-autohide','true').attr('data-delay',6000).attr('class','toast').appendTo('#col'+id);
  $("<div/>").attr('id','toastHeader'+id).attr('class','toast-header d-flex').appendTo('#toast'+id);
  $("<span/>").attr('id','statusHeader'+id).attr('class','text-primary flex-fill align-self-center').appendTo('#toastHeader'+id);
  $('#statusHeader'+id).append('<strong>Status</strong>');
  $("<span/>").attr('id','timeHeader'+id).attr('class','text-muted align-self-center pr-2').appendTo('#toastHeader'+id);
  $('#timeHeader'+id).append('<small>'+time_elapsed(time_counter)+'</small>');
  $("<button/>").attr('id','btnHeader'+id).attr('class','btn-close align-self-center').attr('data-dismiss','toast').appendTo('#toastHeader'+id);
  $("<div/>").attr('id','txtBody'+id).attr('class','toast-body').appendTo('#toast'+id);
  $('#txtBody'+id).append(txt);
  $('#toast'+id).toast('show');
  toast_counter++;
}

function time_elapsed(from) {
  let current = Date.now();
  //console.log('execution time:'+from);
  //console.log('current time:'+current);
  let elapsed_ms = current -from;
  let elapsed_sec = (elapsed_ms/1000).toFixed(2);
  let elapsed_min = Math.round((current - from)/1000/60);
  if (elapsed_ms > 1000) {
    return elapsed_sec+'sec';
  } else {
    return elapsed_ms+'ms';
  }
}

</script>

[[ end ]]