[[extend "baseof.html"]]

[[ block page_head]]
<style>
    .table td {
        text-align: center;
    }
    .table th {
        text-align: center;
    }
</style>
<link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
[[ end ]]

[[ block left_nav ]]
[[ include 'partials/nav-test.html' ]]
[[ end]]

<!-- bootstrap ok for table -->
<div class="container-fluid"> <!-- #table list -->
    <div class="row">
      <div class="col-md-12 mt-3">
        <div>
            <div id="toolbar">
                <button type="button" id="btnNewAgents" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#agentsModal">
                    New agent
                </button>
            </div>
        </div>
        <table id="agents_tbl"
            data-toolbar="#toolbar"
            data-id-field="id"
            data-toggle="table"
            data-side-pagination="server"
            data-show-refresh="true"
            data-pagination="true"
            data-page-size="10"
            data-show-columns="true"
            data-search="true"
            data-search-accent-neutralise="true"
            data-visible-search="false"
            data-data-field="items"
            data-query-params="queryParams"
            data-total-field="count"
            >
            <thead class="thead-dark">
                <th data-field="id" data-sortable="true">ID</th>
                <th data-field="name" data-sortable="true">Agent:</th>
                <th data-field="code" data-sortable="true">Code:</th>
                <th data-field="description" data-searchable= "false" data-sortable="true">Description:</th>
                <th data-field="operate" data-formatter="operateFormatter_agents" data-events="operateEvents_agents">Action</th>
            </thead>
        </table>
      </div>
    </div> <!-- end row -->
</div> <!-- end container fluid -->

<!-- Modal mxModal -->
<div class="modal fade" id="agentsModal" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New agent</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <form id="agentsFormModal" enctype="multipart/form-data" method="POST">
                                <div class="container-fluid">
                                    <div class="row mb-3">
                                        <div class="col">
                                            <label for="agentModal" class="form-label">Agent:</label>
                                            <input id="agentModal" type="text" class="form-control" name="name" autocomplete="off">
                                            <div id="agentModalHelp" class="form-text">Enter agent name</div>
                                        </div>
                                        <div class="col">
                                            <label for="codeModal" class="form-label">Code:</label>
                                            <input id="codeModal" type="text" class="form-control" name="code" autocomplete="off">
                                            <div id="codeModalHelp" class="form-text">Enter code</div>
                                        </div>
                                        <div class="col">
                                            <label for="descModal" class="form-label">Description:</label>
                                            <input id="descModal" type="text" class="form-control" name="description" autocomplete="off">
                                            <div id="descModalHelp" class="form-text">Description</div>
                                        </div>
                                    </div>
                                </div>
                                <input id="idAgentRow" type="text" class="visually-hidden" name="id" />
                                <input id="methodAgentsModalSubmit" type="text" class="visually-hidden" name="methodAgentsModalSubmit" value="POST" />
                                <input id="btnAgentsModalSubmit" type="submit" class="visually-hidden" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <label id="agentsModalSubmit" for="btnAgentsModalSubmit" class="btn btn-primary" tabindex="0">Submit</label>
            </div>
        </div>
    </div>
</div>

[[ block js_scripts]]

<script type="text/javascript">
// Global variables
const HOSTURL = "[[ = hosturl ]]";
</script>

<!-- <script src="js/bootstrap-table/bootstrap-table.min.js"></script> -->
<!-- <script src="js/bootstrap-table/bootstrap-table.js"></script> -->
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
<script src="js/bootbox/bootbox.all.min.js"></script>
<script src="js/jquery.serialize-object.min.js"></script>
<!-- https://bootstrap-autocomplete.readthedocs.io/en/latest/ -->
<script src="js/useful.js"></script>
<script src="js/allergy-bt.js"></script>
<script type="text/javascript">

// init tables
const API_AGENTS = HOSTURL + "/myapp/api/agent?@lookup=mod!:modified_by[id,first_name,last_name],creator!:created_by[id,first_name,last_name]&@count=true";

var $agents_tbl = $('#agents_tbl').bootstrapTable({
    url: API_AGENTS
});

// Fires after the table body is rendered and available in the DOM, the parameters contain data
$('#agents_tbl').on('post-body.bs.table', function () {

});

</script>
<script src="js/allergy.js"></script>
[[ end ]]