[[extend "baseof.html"]]

[[ block page_head]]
<style>
    .table td {
        text-align: center;
    }

    .table th {
        text-align: center;
    }
</style>
<link href="js/bootstrap-table_1.22/bootstrap-table.min.css" rel="stylesheet">
[[ end ]]

[[ block left_nav ]]
[[ include 'partials/nav-settings.html' ]]
[[ end]]

<!-- bootstrap ok for table-wl -->
<div class="container-fluid"> <!-- #table-wl list -->
    <div class="row">
        <div class="col-md-12 mt-3">
            <div class="row">
                <div class="col">
                    <button type="button" id="btnFullList" class="btn btn-dark mx-2">Full list</button>
                    <button type="button" id="btnMdList" class="btn btn-dark mx-2">MD list</button>
                    <button type="button" id="btnGpList" class="btn btn-dark mx-2">GP list</button>
                </div>
                <div class="col form-floating">
                    <select class="form-select" id="selectProvider" class="form-control">
                        <option value="">No filter</option>"
                    </select>
                    <label for="selectProvider">Select provider</label>
                </div>
                <div class="col form-floating">
                    <select class="form-select" id="selectPractitioner" class="form-control">
                        <option value="">No filter</option>"
                    </select>
                    <label for="selectPractitioner">Select practitioner</label>
                </div>
                <div class="col">
                    <div id="toolbar-wl">
                        <h2><span class=""><i class="fas fa-list me-2"></i>Files<span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table id="table-wl" data-toolbar="#toolbar-wl" data-id-field="id" data-side-pagination="server"
                        data-show-refresh="true" data-pagination="true" data-page-size="25" data-show-columns="true"
                        data-search="true" data-search-accent-neutralise="true" data-visible-search="false"
                        data-query-params="queryParams_wl" data-response-handler="responseHandler_wl"
                        data-row-style="rowStyle_wl" data-detail-view="true" data-detail-view-icon="true"
                        data-detail-formatter="detailFormatter_wl" data-detail-view-by-click="false">
                        <thead class="thead-dark">
                            <th data-field="id" data-sortable="true">ID</th>
                            <th data-field="sending_facility" data-sortable="true">Sending facility:</th>
                            <th data-field="receiving_facility" data-title="Receiving facility" data-sortable="true">
                                Receving facility:</th>
                            <th data-field="procedure" data-searchable="true" data-sortable="true">Procedure:</th>
                            <th data-field="patient" data-searchable="true" data-sortable="true">Patient:</th>
                            <th data-field="provider" data-searchable="true" data-sortable="true">Provider:</th>
                            <th data-field="senior" data-searchable="true" data-sortable="true">Senior:</th>
                            <th data-field="modality" data-searchable="true" data-sortable="true">Modality:</th>
                            <th data-field="laterality" data-sortable="false" data-searchable="false">Laterality:</th>
                            <th data-field="requested_time" data-sortable="true" data-searchable="true">Timeslot:</th>
                            <th data-field="status_flag" data-searchable="true" data-sortable="true">Status:</th>
                            <th data-field="operate" data-formatter="operateFormatter_wl"
                                data-events="operateEvents_wl">Action</th>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- end row -->
</div> <!-- end container fluid -->


<div class="visually-hidden container">
    testing
</div>

[[ block js_scripts]]
<script src="js/bootstrap-table_1.22/bootstrap-table.min.js"></script>
<script src="js/bootbox/bootbox.all.min.js"></script>
<script src="js/jquery.serialize-object.min.js"></script>
<script src="js/useful.js"></script>
<script src="js/files_bt.js"></script>
<script type="text/javascript">

    // modality controllers
    var modalityDict = [[ = XML(modalityDict)]];

    // Fill the select options
    let practitionerDict = [[ = XML(practitionerDict)]]
    let providerDict = [[ = XML(providerDict)]]

    // Current user information
    const currentUserId = [[ = user["id"]]];
    const currentUserMembership = "[[ = userMembership ]]";

    function fillSelect() {
        let select = document.getElementById("selectPractitioner");
        let userFoundInDropdown = false;
        let currentUserKey = "";

        for (let value in practitionerDict) {
            let option = document.createElement("option");
            option.value = practitionerDict[value];
            option.text = value;
            select.add(option);

            // Check if this entry matches the current user
            if (practitionerDict[value] == currentUserId) {
                userFoundInDropdown = true;
                currentUserKey = value;
            }
        }

        // Auto-select current user if they are a doctor and exist in dropdown
        if (currentUserMembership === "Doctor" && userFoundInDropdown) {
            select.value = currentUserId;
            console.log("Auto-selected current doctor:", currentUserKey);
            // Trigger filtering for the selected doctor
            applyFilters();
        } else if (currentUserMembership !== "Doctor") {
            // If not a doctor, show all by default (no filter)
            console.log("User is not a doctor, showing all records");
        }

        select = document.getElementById("selectProvider");
        for (let value in providerDict) {
            let option = document.createElement("option");
            option.value = providerDict[value];
            option.text = value;
            select.add(option);
        }
    }

    // Load when DOM is loaded
    document.addEventListener("DOMContentLoaded", function (event) {
        fillSelect();
    });

    // init bootstrat-tables
    const membership = [[=membership]];
    const HOSTURL = "[[ = hosturl ]]";

    // Set global variables for payment functionality
    window.HOSTURL = HOSTURL;
    window.APP_NAME = "[[ = app_name ]]";

    // set tables
    const TODAY_DATE = new Date().addHours(timeOffsetInHours).toJSON().slice(0, 10);
    const API_PROCEDURE_LIST = HOSTURL + '[[=URL('api','worklist')]]' + '?@count=true&@lookup=id_auth_user!:id_auth_user[id,first_name,last_name],provider!:provider[id,first_name,last_name],procedure!:procedure,modality!:modality_dest[id,modality_name],receiving_facility!:receiving_facility[id,facility_name],sending_facility!:sending_facility[id,facility_name],senior!:senior[id,first_name,last_name],created_by!:created_by[id,first_name,last_name],modified_by!:modified_by[id,first_name,last_name]&@order=~requested_time,~id';
    const API_PROCEDURE_LIST_MD = HOSTURL + '[[=URL('api','worklist')]]' + '?@count=true&@lookup=id_auth_user!:id_auth_user[id,first_name,last_name],provider!:provider[id,first_name,last_name],procedure!:procedure,modality!:modality_dest[id,modality_name],receiving_facility!:receiving_facility[id,facility_name],sending_facility!:sending_facility[id,facility_name],senior!:senior[id,first_name,last_name],created_by!:created_by[id,first_name,last_name],modified_by!:modified_by[id,first_name,last_name]&@order=~requested_time,~id&modality_dest.modality_name.eq=MD';
    const API_PROCEDURE_LIST_GP = HOSTURL + '[[=URL('api','worklist')]]' + '?@count=true&@lookup=id_auth_user!:id_auth_user[id,first_name,last_name],provider!:provider[id,first_name,last_name],procedure!:procedure,modality!:modality_dest[id,modality_name],receiving_facility!:receiving_facility[id,facility_name],sending_facility!:sending_facility[id,facility_name],senior!:senior[id,first_name,last_name],created_by!:created_by[id,first_name,last_name],modified_by!:modified_by[id,first_name,last_name]&@order=~requested_time,~id&modality_dest.modality_name.eq=GP';
    var $table_wl = $('#table-wl').bootstrapTable({
        url: API_PROCEDURE_LIST_MD,
        formatSearch: function () {
            return 'Last name,first name,procedure,modality';
        }
    });

    // hide columns in wl table: id, sending_facility, receiving_facility
    $table_wl.bootstrapTable('hideColumn', 'id');
    $table_wl.bootstrapTable('hideColumn', 'sending_facility');
    $table_wl.bootstrapTable('hideColumn', 'receiving_facility');

    // Fires after the table body is rendered and available in the DOM, the parameters contain data
    $('#table-wl').on('post-body.bs.table', function () {
        // Update payment button colors after table content is loaded
        setTimeout(function () {
            if (typeof updatePaymentButtonColors === 'function') {
                updatePaymentButtonColors();
            }
        }, 100);
    });

    $(document).ready(function () {
        if (window.performance.getEntriesByType('navigation')[0].type == 'back-forward') {
            $('#table-wl').bootstrapTable('refresh');
        };

        // Also update payment colors on initial table load
        $('#table-wl').on('load-success.bs.table', function () {
            setTimeout(function () {
                if (typeof updatePaymentButtonColors === 'function') {
                    updatePaymentButtonColors();
                }
            }, 100);
        });
    });

    $('#btnFullList').click(function () {
        $('#table-wl').bootstrapTable('refreshOptions', {
            url: API_PROCEDURE_LIST
        });
    });

    $('#btnMdList').click(function () {
        $('#table-wl').bootstrapTable('refreshOptions', {
            url: API_PROCEDURE_LIST_MD
        });
    });

    $('#btnGpList').click(function () {
        $('#table-wl').bootstrapTable('refreshOptions', {
            url: API_PROCEDURE_LIST_GP
        });
    });

    function getFilterStatus() {
        let key = "";
        if (document.getElementById("selectPractitioner").value != "") {
            if (document.getElementById("selectProvider").value != "") {
                // provider AND senior selected
                key = "&senior.id=" + document.getElementById("selectPractitioner").value + "&provider.id=" + document.getElementById("selectProvider").value
            } else {
                // ONLY senior selected
                key = "&senior.id=" + document.getElementById("selectPractitioner").value
            }
        } else {
            // no senior selected
            if (document.getElementById("selectProvider").value != "") {
                // ONLY provider selected
                key = "&provider.id=" + document.getElementById("selectProvider").value
            } else {
                // NO selection
            }
        }
        return key;
    }

    function applyFilters() {
        let key = getFilterStatus();
        $('#table-wl').bootstrapTable('refreshOptions', {
            url: API_PROCEDURE_LIST_MD + key
        });
    }

    $('#selectPractitioner').change(function () {
        console.log('select practitioner change:', $(this).val());
        applyFilters();
    });

    $('#selectProvider').change(function () {
        console.log('select provider change:', $(this).val());
        applyFilters();
    });


</script>
<script src="js/files.js"></script>
[[ end ]]