[[extend 'baseof.html']]
[[ block left_nav ]]
[[ include 'partials/nav-test.html' ]]
[[ end]]

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-4">photo</div>
        <div class="col-4">
            <ul id="ulUserTitle" class="list-group">
                <!-- <li> fields </li>-->
            </ul>
        </div>
    </div>
</div>

<div class="my-2 container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Details
                </div>
                <ul id="ulUserItems" class="list-group list-group-flush">
                    <!-- li fields-->
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <h5 class="mb-1">Addresses</h5>
                        <button id="btnNewAddress" type="button" class="btn btn-outline-dark btn-sm"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
                <ul id="ulUserAddresses" class="list-group list-group-flush">
                    <!-- li fields-->
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <h5 class="mb-1">Phones</h5>
                        <button id="btnNewPhone" type="button" class="btn btn-outline-dark btn-sm"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
                <ul id="ulUserPhones" class="list-group list-group-flush">
                    <!-- li fields-->
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- userModal -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit user details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <form id="userForm" enctype="multipart/form-data" method="POST">
                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="firstName" class="form-label">First name:</label>
                                        <input id="firstName" type="text" class="form-control" name="first_name">
                                        <div id="firstNameHelp" class="form-text">Enter your first name</div>
                                    </div>
                                    <div class="col">
                                        <label for="lastName" class="form-label">Last name:</label>
                                        <input id="lastName" type="text" class="form-control" name="last_name">
                                        <div id="lastNameHelp" class="form-text">Enter your last name</div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="username" class="form-label">Username:</label>
                                        <input id="username" type="text" class="form-control"
                                            title="Username must not be blank and contain only letters, numbers and underscores."
                                            name="username" required pattern="\w+" autocomplete="username" />
                                        <div id="usernameHelp" class="form-text">Enter your username</div>
                                    </div>
                                    <div class="col">
                                        <label for="email" class="form-label">Email:</label>
                                        <input id="email" type="email" class="form-control" name="email">
                                        <div id="emailHelp" class="form-text">Enter your email</div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="password" class="form-label">Password:</label>
                                        <input id="password" type="password" class="form-control"
                                            autocomplete="new-password"
                                            title="Password must contain at least 6 characters, including UPPER/lowercase and numbers."
                                            name="password" required>
                                        <div id="passwordHelp" class="form-text">Enter your password</div>
                                    </div>
                                    <div class="col">
                                        <label for="passwordCheck" class="form-label">Password check:</label>
                                        <input id="passwordCheck" type="password" class="form-control"
                                            title="Please enter the same Password" name="passwordCheck">
                                        <div id="passwordCheckHelp" class="form-text">Retype your password</div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="membership" class="form-label">Role:</label>
                                        <select id="membershipSelect" class="form-select" name="membership">
                                            [[ =roleOptions ]]
                                        </select>
                                        <div id="membershipHelp" class="form-text">Choose your role</div>
                                    </div>
                                    <div class="col">
                                        <label for="gender" class="form-label">Gender:</label>
                                        <select id="genderSelect" class="form-select" name="gender">
                                            [[ =genderOptions ]]
                                        </select>
                                        <div id="membershipHelp" class="form-text">Choose gender</div>
                                    </div>
                                </div>
                                <input id="btnNewUserSubmit" type="submit" class="visually-hidden" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <label id="labelSubmit" for="btnNewUserSubmit" class="btn btn-primary" tabindex="0">Submit</label>
            </div>
        </div>
    </div>
</div>

<!-- phoneModal -->
<div class="modal fade" id="userPhoneModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New phone</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <form id="userPhoneForm" enctype="multipart/form-data" method="POST">
                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="origin" class="form-label">Origin:</label>
                                        <select id="originSelect" class="form-select" name="origin">
                                            [[ =originOptions ]]
                                        </select>
                                        <div id="membershipHelp" class="form-text">Choose phone's origin</div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="phone_prefix" class="form-label">Prefix:</label>
                                        <input id="phone_prefix" type="text" class="form-control" name="phone_prefix">
                                        <div id="prefixHelp" class="form-text">Enter country's prefix</div>
                                    </div>
                                    <div class="col">
                                        <label for="phone" class="form-label">Phone:</label>
                                        <input id="phone" type="text" class="form-control" name="phone">
                                        <div id="phoneHelp" class="form-text">Enter phone number</div>
                                    </div>
                                </div>
                                <input id="btnPhoneSubmit" type="submit" class="visually-hidden" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <label id="phoneSubmit" for="btnPhoneSubmit" class="btn btn-primary" tabindex="0">Submit</label>
            </div>
        </div>
    </div>
</div>


<div>
    <p>Record is: [[ =rec_id ]]</p>
    <p>User is: [[ =username ]]</p>
    <p>Membership is: [[ =membership ]]</p>
    <p>Global are: [[=globals().get('user',{})]]</p>
    <p>Row: [[ =globals().get('row',{}) ]]</p>
</div>


[[ block js_scripts ]]
<script src="js/user_validation.js"></script>
<script src="js/bootbox/bootbox.all.min.js"></script>
<script src="js/jquery.serialize-object.min.js"></script>
<script type="text/javascript">

var id = [[ =rec_id ]]
var membership = [[=membership]];
var HOSTURL = 'http://localhost:8000';

const API_USER= HOSTURL+'[[=URL('api','auth_user')]]'+'?id.eq='+id+'&@lookup=gender&@count=true'; 
const API_USER_PHONE = HOSTURL + '[[=URL('api','phone')]]' + '?id_auth_user.eq=' + id + '&@lookup=id_auth_user&@count=true'; 
const API_USER_ADDRESS = HOSTURL + '[[=URL('api','address')]]' + '?id_auth_user.eq=' + id + '&@lookup=id_auth_user&@count=true&@order=address_rank'; 

function getUser(id) {
    return Promise.resolve(
        $.ajax({
            type: "GET",
            url: API_USER,
            dataType: "json",
            success: function (data) {
                if (data.status == 'error' || data.count == 0) {
                    displayToast('error', 'GET error', 'Cannot retrieve user details', '6000');    
                } else {
                    displayToast('info', 'GET user request', 'GET ' + data.items[0].username, '6000');
                }
            },
            error: function (er) {
                console.log(er);
            }
        }));
}

function getUserPhones(id) {
    return Promise.resolve(
        $.ajax({
            type: "GET",
            url: API_USER_PHONE,
            dataType: "json",
            success: function (data) {
                console.log(data); if (data.status == 'error' || data.count == 0) {
                    displayToast('error', 'GET error', 'Cannot retrieve phones', '6000');
                } else {
                    displayToast('info', 'GET phone request', 'GET ' + data.items[0].id_auth_user['username'], '6000')
                }
            },
            error: function (er) {
                console.log(er);
            }
        }));
}

function getUserAddresses(id) {
    return Promise.resolve(
        $.ajax({
            type: "GET",
            url: API_USER_ADDRESS,
            dataType: "json",
            success: function (data) {
                console.log(data); if (data.status == 'error' || data.count == 0) {
                    displayToast('error', 'GET error', 'Cannot retrieve addresses', '6000');
                } else {
                    displayToast('info', 'GET address request', 'GET ' + data.items[0].id_auth_user['username'], '6000')
                }
            },
            error: function (er) {
                console.log(er);
            }
        }));
}

function checkIfDataIsNull(data, dft='n/a') {
    return data == null? dft : data ; 
}

var userData = getUser(id);
var userPhone = getUserPhones(id);
var userAddress = getUserAddresses(id);

// do when promise.success
userData.then(function(userData){
    $('#userPhoneModal h5.modal-title').html('New phone for <span class="fw-bold">'+ checkIfDataIsNull(userData.items[0].first_name) + ' '+ checkIfDataIsNull(userData.items[0].last_name)+'</span>')
    // fills lists
    $('#ulUserTitle').append('<li class="list-group-item">Last name: <span class="text-uppercase fw-bold">' + checkIfDataIsNull(userData.items[0].last_name)+'</span></li>');
    $('#ulUserTitle').append('<li class="list-group-item">First name: <span class="fw-bold">' + checkIfDataIsNull(userData.items[0].first_name)+'</span></li>');
    $('#ulUserTitle').append('<li class="list-group-item">Date of birth: <span class="fw-bold">' + checkIfDataIsNull(userData.items[0].dob)+'</span></li>');
    $('#ulUserItems').append('<li class="list-group-item">Last name: <span class="text-uppercase fw-bold">' + checkIfDataIsNull(userData.items[0].last_name) + '</span></li>');
    $('#ulUserItems').append('<li class="list-group-item">Maiden name: <span class="text-uppercase fw-bold">' + checkIfDataIsNull(userData.items[0].maiden_name) + '</span></li>');
    $('#ulUserItems').append('<li class="list-group-item">First name: <span class="fw-bold">' + checkIfDataIsNull(userData.items[0].first_name) + '</span></li>');
    $('#ulUserItems').append('<li class="list-group-item">Date of birth: <span class="fw-bold">' + checkIfDataIsNull(userData.items[0].dob) + '</span></li>');
    $('#ulUserItems').append('<li class="list-group-item">Gender: <span class="fw-bold">' + checkIfDataIsNull(userData.items[0].gender['sex']) + '</span></li>');
    $('#ulUserItems').append('<li class="list-group-item">Country of birth: <span class="fw-bold">' + checkIfDataIsNull(userData.items[0].birth_country) + '</span></li>');
    $('#ulUserItems').append('<li class="list-group-item">Nationality: <span class="fw-bold">' + checkIfDataIsNull(userData.items[0].nationality) + '</span></li>');
    $('#ulUserItems').append('<li class="list-group-item">Email: <span class="fw-bold">' + checkIfDataIsNull(userData.items[0].email) + '</span></li>');
})

userPhone.then(function(userData){
    for (const item of userData.items) {
        $('#ulUserPhones').append('<li class="list-group-item phone" data-phone-id="'+item.id+'">' + checkIfDataIsNull(item.phone_origin) + ': <span class="fw-bold">+' + checkIfDataIsNull(item.phone_prefix,'') +'-' + checkIfDataIsNull(item.phone) + '</span></li>');
    }
})

userAddress.then(function (userData) {
    for (const item of userData.items) {
        $('#ulUserAddresses').append('<li class="list-group-item address" data-address-id="' + item.id + '">'+ checkIfDataIsNull(item.address_origin, '') + ' : <span class="fw-bold"> ' + checkIfDataIsNull(item.home_num, '') + ' ' + checkIfDataIsNull(item.address1) + ', ' + checkIfDataIsNull(item.country) + '</span></li>');
    }
})


$('#btnNewPhone').click(function() {
    $('#userPhoneModal').modal('show');
})

</script>
    
[[ end ]]